/* Cascading stylesheet for the website */
2
​
3
/* Text inside these asterisks and slashes are comments for human */
4
​
5
  a {
6
    color:blue;/* set the text color to blue here */
7
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
8
  }
9
​
10
  a:hover {
11
    color:red;/* set the text color to red here */
12
    text-decoration: none; /* This means we do not want hyperlinks to be underlined */
13
  }
14
​
15
  body {
16
    background-color: beige;
17
    color:black;/* set the text color to black here */
18
    font-family: Arial, Helvetica, sans-serif;/* set the font here */
19
    text-align: center;/* set the text alignment here */
20
   }
21
   img{
22
     width:75%;
23
   }
24
​
25
  footer {
26
    margin-top: 2rem;
27
    margin-bottom: 2rem;
28
  }
29
​
30
  h1 {
31
    margin-bottom: 0.5rem;
32
    margin-top: 3rem;
33
   }
34
​
35
  h2 {
36
    color: #075AAB;
37
    margin-bottom: 2.5rem;
38
    margin-top: 2.5rem;
39
   }
40
​
41
  h3 {
42
    margin-bottom: 0;
43
    margin-top: 2rem;
44
  }
